@import url('https://fonts.googleapis.com/css2?family=Delius+Unicase:wght@400;700&family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Delius+Unicase:wght@400;700&family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* height:1117
width: 1728
12vh : 134px

*/
/* Hide scrollbar for Chrome, Safari, and Opera */
body::-webkit-scrollbar {
    display: none;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.chat-icon{
    height: 10.8vh;
    width: 10.8vh;
    background-color: rgb(255, 255, 255);
    border-radius: 100%;
    box-shadow: 4px 15px 35px 0px #00000040;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 1vh;
    right: 6vw;
    z-index: 1;

}
.chat-icon img{
    height: 8vh;
}

.navbar{
    display: flex;
    justify-content:space-around;
    align-items: center;
    background-color: #6F6AF7;
    height: 12vh;    
    width: 100vw;
    font-size: 12vh;
    position: fixed;
    top: 0;
}

.logo{
    font-family: "Delius Unicase", cursive;
    font-weight: 700;
    color: white;
    font-size: 0.5em;
}

.nav-routes{
    display: flex;
    justify-content:space-around;
    align-items: center;
    list-style: none;
    font-size: 0.28em;
    color: white;
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
}

.nav-routes > li{
    margin: 0 1em;
}

.down-arrow{
    height: 0.29em;
    margin-left: 0.2em;
    margin-bottom: 0.2em;
}

.nav-search{
    display: flex;
    align-items: center;
    background-color: white;
    height: 43%;
    width: 18.2vw;
    border-radius: 63px;
    padding: 5px 10px;

}

.search-input{
    border-style: none;
    height: 100%;
    width: 100%;
    font-weight: 400;
    color:#9F9F9F;
    border-color: white;
}

input:focus,
textarea:focus,
select:focus {
    outline: none;
}


.search-icon{
    height:70%
}

.hamburger{
    display: flex;
    align-items: center;
    height: 100%;
}

.hamburger-btn{
    height: 40%;
}

.main-content{
    margin-top: 25.9vh;
    display: flex;
    padding-left: 7.5vw;
    padding-right: 7.5vw;
    
}

.middle{
    display: flex;
    width: 85vw;
}

.hero-image{
    height: 45vh;
    width: 30%;
    border-radius: 20px;
}

.input-text{
    width: 70%;
    margin-left: 3vw;
    padding: 1em;
    background: #E5D8FF;
    border: 6px solid #FFFFFF;
    box-shadow: 3px 5px 27px 0px #00000040 inset;
    border-radius: 20px; 
    font-family: "DM Sans";
    font-size: 3vh;
    font-weight: 400;
    line-height: 1.5em;
    text-align: left;   
    resize: none;
}


.social-icons{
    position: sticky;
    left:100%;
    top:50%;
    width:5vw;
    margin-right: 0.5vw;
    transform: translateY(-100%);
    
}


.icon{
    background-color: rgb(255, 255, 255);
    padding: 7px;
    width: 5vw;
    height: 5vw;
    border: 0.15em solid #000000;
    border-radius: 11px;
    
}

.cards{
    display: flex;
    justify-content: space-between;
    padding: 0 5.9vw;
    margin-top: -16vh;
    font-family: "DM Sans";
    font-size: 3vh;
    font-weight: 700;
    line-height: 1.5em;
    letter-spacing: 0.04em;
    text-align: left;
    color: white;
    
}

.cards div{
    width: 19.5vw;
    height: 13.1vh;
    box-shadow: 0px 9px 31px 0px #00000066;
    border-radius: 11px;
    padding: 2vh;

}

.card-1{
    background-color: #929DFF;
}
.card-2{
    background-color: #734CF2;
}
.card-3{
    background-color: #D288FF;
}
.card-4{
    background-color: #000000;
}

.info-body{
    background: #483EFF;
    margin: 20vh 5.9vw  10vh 5.9vw;
    display: flex;
    border-radius: 21px;
    color: white;
}

.left-body{
    /* padding:1em; */
}

.left-body div{
    height: 12vh;
    width: 23vw;
    background: #483EFF;
    margin: 8vh 5vh;
    font-family: "DM Sans";
    font-size: 3.5vh;
    line-height: 6vh;
    font-weight: 700;
    letter-spacing: 0.04em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2vh;
    border: 5px solid #FFFFFF
}

#selected{
    box-shadow: 0px 6px 35px 0px #00000063;
    background: #BCE0F6;
    color: #000000;
    border: none;

}

.right-body{
    background-color: white;
    margin: 2.5vh;
    width: 100%;
    border-radius: 1.8vh;
    position: relative;
    color: #04285A;
    
}

.right-body h1{
    font-family:'Inter';
    font-size: 3.5vh;
    font-weight: 700;
    line-height: 3.8vh;
    letter-spacing: 0.105em;
    text-align: left;
    margin: 10vh 7vh 5vh 7vh;
}

.right-body p{
    font-family: 'Roboto';
    font-size: 3vh;
    font-weight: 500;
    line-height: 3vh;
    letter-spacing: 0.105em;
    text-align: left;
    margin: 4vh 11vh;

}

.right-body p span{
    font-size: 2.6vh;
    font-weight: 400;
    line-height: 2.8vh;
    letter-spacing: 0.05em;
    text-align: left;
}

.next-button{
    width: 11.5vw;
    height: 7vh;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 1vh;
    position: absolute;
    right: 4vh;
    bottom: 4vh;
    font-size: 2.7vh;
    font-weight: 400;
    line-height: 2.8vh;
    letter-spacing: 0.05em;
    text-align: center;

}

.next-button img{
    width: 3.4vh;
}
